.categories {
    width: 30%;
    height: 100%;
}

.input_categories {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 50px 0 0 0;
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2px #388e3c solid;
    outline: none;
    cursor: pointer;
}

.list_of_categories {
    width: 100%;
    height: 100%;
}